# Configs

title: "Zachary Schmidt"
name: "Jekyll Website for Zachary Schmidt"
email: "zschmidt2005@gamil.com"
url: "https://ZachSchmidt1.github.io"
baseurl: "/Zachary-Schmidt-Profile"
repository: "ZachSchmidt1/Zachary-Schmidt-Profile"
header:
  image: /assets/images/25-Zach_Schmidt-0318-WD-12.jpg

include:
  - _pages
  - assets
  - index.html
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "contrast"

# settings for author profile
author:
  name   : "Zachary Schmidt"
  avatar : "/assets/images/25-Zach_Schmidt-0318-WD-12.jpg"
  bio    : "My name is Zachary Schmidt, and I plan to graduate with my Bachelors in Mechatronics Engineering from Northern Illinois University."
  location: "DeKalb, Illinois"
  github : "ZachSchmidt1"
  linkedin: "zachary-schmidt-630b44326/"
  email  : "zschmidt2005@gamil.com"


# # comments by disqus
#comments:
  #provider: "disqus"
  #disqus:
    #shortname: "pwills-com"

#analytics:
  #provider: "google"
  #google:
    #tracking_id: "UA-116208936-1"


# pagination for blog page
paginate: 10 # number of posts to show
paginate_path: /page:num/

# default YAML front matter
defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      mathjax: true
      author_profile: true
      class: wide
      title: " "
      title_separator: "|"
  # posts
  - scope:
      type: posts
    values:
      toc: true
      toc_label: "Contents"
      read_time: false
      comments: true
  # portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      author_profile: false
      excerpt: ""
      sidebar:
        nav: "portfolio"

# collections
collections:
  portfolio:
    output: true
